DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB=pentastore
DB_PORT=8889
MIDTRANS_SERVER_KEY=SB-Mid-server-yourmidtransserverkey
ACCESS_TOKEN = youraccesstoken
SECRET_KEY = yourserverkey
EMAIL =youremail.gmail.com
EMAIL_PASS =your email pw
IPTOKEN = iptoken


